workflows/YAHdeeXkYbwOOQJk.json
{
  "createdAt": "2025-08-20T06:40:59.116Z",
  "updatedAt": "2025-08-30T21:16:17.301Z",
  "id": "YAHdeeXkYbwOOQJk",
  "name": "Add user to database",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "errorMessage": "Invalid parameters"
      },
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        640,
        -48
      ],
      "id": "29fd2f8a-c198-4bc4-9081-23af9c7127ca",
      "name": "Stop and Error"
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "users",
          "mode": "list",
          "cachedResultName": "users"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "username": "={{ $json.username }}",
            "email": "={{ $json.email }}",
            "password": "={{ $json.password }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "username",
              "displayName": "username",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "email",
              "displayName": "email",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "password",
              "displayName": "password",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1088,
        -240
      ],
      "id": "5582f297-8c82-4e4f-9053-4684d026e2e0",
      "name": "Insert rows in a table",
      "credentials": {
        "postgres": {
          "id": "2mXYpXFNRXyys64p",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "69afcac9-8b80-4e83-b872-54f4e8da0b58",
              "leftValue": "={{ $json.body.username }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "25f6be87-87b5-463b-861f-8c32312a1ed4",
              "leftValue": "={{ $json.body.email }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "eb04d9c9-837d-46ce-bba4-bfc0ff285b45",
              "leftValue": "={{ $json.body.password }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "29c4e182-e7c6-4600-bf16-09d35259562f",
              "leftValue": "",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        416,
        -144
      ],
      "id": "c84b6602-1364-46dc-b843-ba85f4b89d06",
      "name": "If"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "6bebdebb-7053-4eef-86b0-9257377b54a1",
              "name": "username",
              "value": "={{ $json.body.username }}",
              "type": "string"
            },
            {
              "id": "9355a50e-56d6-4693-ad54-682ff0eb71b0",
              "name": "email",
              "value": "={{ $json.body.email }}",
              "type": "string"
            },
            {
              "id": "3efd6062-c25a-4d55-815d-f5f4f52b35b2",
              "name": "password",
              "value": "={{ $json.hashed_password }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        864,
        -240
      ],
      "id": "c41eee27-46f3-4611-8928-acef302077e4",
      "name": "Remove Password"
    },
    {
      "parameters": {
        "type": "SHA256",
        "value": "={{ $json.body.password }}",
        "dataPropertyName": "hashed_password"
      },
      "type": "n8n-nodes-base.crypto",
      "typeVersion": 1,
      "position": [
        640,
        -240
      ],
      "id": "874fdf21-06f9-4b4b-802d-dca963cb3e35",
      "name": "Hash Password"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "16bc0461-12ad-4933-bb1d-00e0a3fd8cd9",
        "responseMode": "lastNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        192,
        -144
      ],
      "id": "39197a3f-d736-4e59-b03c-eafab2aa1d76",
      "name": "Webhook",
      "webhookId": "16bc0461-12ad-4933-bb1d-00e0a3fd8cd9"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"username\": {{ $json.username }},\n  \"email\": {{ $json.email }}\n}",
        "options": {
          "responseCode": 204
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        1312,
        -240
      ],
      "id": "a585e27b-1eba-48cb-b330-6930c0a7b3e6",
      "name": "Respond to Webhook"
    }
  ],
  "connections": {
    "If": {
      "main": [
        [
          {
            "node": "Hash Password",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Stop and Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Remove Password": {
      "main": [
        [
          {
            "node": "Insert rows in a table",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Hash Password": {
      "main": [
        [
          {
            "node": "Remove Password",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert rows in a table": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "13da5ce1-cc40-401e-bfe5-e1acc16aae74",
  "triggerCount": 1,
  "tags": [],
  "shared": [
    {
      "createdAt": "2025-08-20T06:40:59.116Z",
      "updatedAt": "2025-08-20T06:40:59.116Z",
      "role": "workflow:owner",
      "workflowId": "YAHdeeXkYbwOOQJk",
      "projectId": "AOjbbeYgLyBl6fWy",
      "project": {
        "createdAt": "2025-08-20T06:39:04.408Z",
        "updatedAt": "2025-08-20T06:40:19.358Z",
        "id": "AOjbbeYgLyBl6fWy",
        "name": "Amer Alwan <ameralwan@hotmail.com>",
        "type": "personal",
        "icon": null,
        "description": null
      }
    }
  ]
}